<ion-content appTouchSwipes (swipeLeft)="onSwipe()" (swipeRight)="onSwipe()">
  <div
    class="
      container
      h-100
      d-flex
      flex-column
      align-items-ceneter
      justify-content-center
    "
  >
    <div class="text-center w-100 mb-5 magictime slideDownReturn">
      <i-feather
        name="smartphone"
        class="phone-icon text-white shake-constant shake-rotate"
      ></i-feather>
    </div>
    <h1
      class="
        phone-help-text
        display-3
        text-center text-white
        magictime
        slideDownReturn
      "
    >
      Shake your phone!
    </h1>
  </div>
</ion-content>
